@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: fixed linear-gradient(#e66465, #9198e5);
    height:100vh;
    background-repeat: no-repeat;
}

/* @media(max-width:600px){
    .container{
        flex-direction: column;
    }
} */